* {
    padding:0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1, h3 {
    text-align: center;
    margin-bottom: 20px;

}
h1 {
    margin-top: 20px;
}
h3 {
    color: red;
}
a {
    text-decoration: none;
}
footer {
    padding-top: 20px;
}
.output {
    background-color: antiquewhite;
    border-radius: 10px;
}
button {
    background-color: antiquewhite;
    border: 1px none red;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}
button:hover {
    border-color: blue;
    background-color: aliceblue;
    transition: 600ms;
    cursor: pointer;
    
}
#reset {
    background-color: greenyellow;
    width: 40%;
}
#reset:hover {
    background-color: red;
    color: white;
}
.output {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 15px;
}

.options {
    display: flex;
    margin-bottom: 20px;
    align-content: space-around;
}
.score {
    display: flex;
    align-content: space-around;
    width: 95%;
}
#c-score,
#p-score {
    font-size: 90px;
    font-weight: bolder;
    padding-top: 10px;
}
#player-choice,
#computer-choice,
#winner {
    padding-top: 5px;
    padding-bottom: 5px;
}

.your-score, 
.comp-score {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
@media (max-width: 600px){
    .options {
        /* display: flex;
        flex-direction: column; */
    }
    body {
        height: 100vh;
    }
    .option {
        width: 100vw;    
    }
    img {
        width: 15vw;
    }
}
@media (min-width: 61px){
    *{
        width:90%;
    }
    body {
        height: 100vh;
    }
    #reset {
        width: 70%;
    }
    a {
        font-size: 15px;
    }

}